/* Resetear márgenes y rellenos para todos los elementos */
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Ajustar altura del html y body al 100% */
html, body {
    height: 100%;
}

/* Estilo de fondo para el body utilizando un degradado */
body {
    background-image: linear-gradient(to bottom, #999fff, #ecefff);
    background-size: cover;
}

/* Estilo para las imágenes */
img{
    border-radius: 15px;
    height: 100px;
    padding: 5px;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
}

h3, h4{
    text-align: center;
    padding: 10px;
}

/* Estilo para los botones */
button {
    padding: 10px;
    height: 40px;
    border-radius: 15px;
    background-color: #4924de;
    transition: background-color 2s; /* Transición suave de color */
}

button:hover{
    background-color: #201452;  /* Color de fondo al pasar el ratón */
}

/* Estilo para el contenedor del título */
#title {
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto
}

#rules-start {
    width: 50%;
    display: flex;
    background-color: #7570ff85;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    transition: background-color 3s; 
}

#rules-start:hover {
    background-color: #7570ff;
}

#coliseum-go {
    width: 50%;
    display: flex;
    background-color: #7570ff85;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    transition: background-color 3s; 
}

#coliseum-go:hover {
    background-color: #7570ff;
}

#players-form {
    width: 80%;
    display: flex;
    background-color: #7570ff85;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px; 
}

#up-level{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#player-1-data, #player-2-data {
    padding: 10px;
}

#button-register {
    display: flex;
    padding: 10px;
    justify-content: center;
}

#play-description {
    width: 80%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border-radius: 15px;
}

#play-description li{
    list-style-type: none;
    text-align: center;
}



#players-in-fight {
    width: 80%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px; 
    border-radius: 15px;
}

#status-play {
    width: 80%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px; 
    border-radius: 15px;
}

#fight-form {
    width: 80%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px; 
    border-radius: 15px;
}

#fight-form p{
    padding: 10px;
    display: flex;
    background-color: #7570ff85;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

#select-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#attack-options {
    display: flex;
}

#button-attack {
    padding: 10px;
}

#fight-result {
    width: 50%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px;
    border-radius: 15px;
}

#new-fihgt-link {
    width: 50%;
    display: flex;
    background-color: #7570ff85;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px auto;
    border: #614fff solid 2px; 
    border-radius: 15px;
}

#new-fihgt-link a{
    margin: 10px;
}



#attack-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7570ff85;
    border: #614fff solid 2px;
    border-radius: 15px;
    transition: background-color 3s; 
}

#attack-card:hover{
    background-color: #614fff;

}

/* Estilo para el select */
select {
    background-color: #bfc5ff; /* Color de fondo */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde sólido de 1px de grosor y color gris claro */
    border-radius: 5px; /* Esquinas redondeadas */
    width: 200px; /* Ancho del select */
    padding: 8px; /* Espaciado interno */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo para los option dentro del select */
select option {
    background-color: #bfc5ff; /* Color de fondo de cada opción */
    color: #333; /* Color del texto de cada opción */
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    #title {
        width: 90%;
    }

    #rules-start {
        width: 90%;
    }

    #coliseum-go {
        width: 90%;
    }

    
    #players-form {
        width: 90%;
    }
    
    #player-1-data, #player-2-data {
        display: flex;
        padding: 10px;
        margin: 10px;
        flex-direction: column;
    } 
    #player-1-data label, #player-2-data label{
        padding: 10px;
        text-align: center;
    }
    
    
    #attack-options {
        flex-direction: column;
    }
    
    #button-attack {
        padding: 10px;
    }

    #play-description {
        width: 95%;
        display: flex;
        background-color: #7570ff85;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        margin: 10px auto;
        border-radius: 15px;
    }



    
}

